*{
	padding: 0;
	margin: 0;
}

body{
	background: #b068e9;

}

.start h1{
	font: Kumbh Sans;
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0px;
	width: 69px;
	padding: 70px 426px 40px ;
}
.start{	
	width: 920px;
	background: #FFFFFF;
	border-radius: 23px;
	height: 509px;
	margin: 55px 40px;
	max-width: 1000px;
}

.start2{

	padding: 70px 426px;

}
.start3{
	padding: 5px 350px;
	width: 350px;
	margin: auto;

}