*{
	padding: 0;
	margin: 0;
	box-sizing:initial;
}


body{
	width: 1440px;
	height: 768px;
	background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start{

	background: #FFFFFF;
	width: 100%;
	max-width: 920px;
	height: 100%;
	max-height: 509px;
	border: 100px;
	margin: 200px;
	padding: 40px	;
	border-radius: 23px;

}
.start2{
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0px;
	width: 69px;
	border: 100px;
	padding: 20px 426px 40px 426px;
	text-align: center;
}
.start3{
	color: #1E1F36;
	font-weight: 700;
	/*font-size: 14px;*/
	line-height: 100%;
	letter-spacing: 0px;
	width: 100%;
	padding: 2px 1px 17px 350px;
	line-height: 35px;

	
}
.start3 p{
	width: 100%;
	max-width: 319px;
	line-height:normal;
	color: #787887;
	padding: auto;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0px;

}
.start3 details{
	border-bottom: 1px solid #EAEAEA;
	width: 350px;
	border-color: #E8E8EA;

}

